
.produtos {
    display: flex;
    flex-direction: column;
}

.titulo__produto {
    margin-bottom: 1rem;
}

.botao__adicionarProduto a {
    color: var(--color-white);
    background-color: var(--color-blue_escuro);
    border-radius: 5px;
    font-size: 1.6rem;
    padding: 16px;
    transition: all 0.2s;
}

.botao__adicionarProduto a:hover {
    background-color: var(--color-blue);
}

.edit-del{    
    position: absolute;
    right: 0;
    margin: 5px;
}

.edit, .del {
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-white);
    cursor: pointer;
    background-color: var(--color-blue_claro);
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 5px; 
    margin-right: 5px;  
}

.del:hover {
    background-color: var(--color-blue_escuro);
}

.edit:hover {
    background-color: var(--color-blue_escuro);
}