.sticky{
    height: 190vh;
    max-width: 180px;
    min-width: 180px;
    position: relative;
    padding-right: 10px;
}

.menu__esquerdo{
    height: 40rem;      
    background-color: var(--color-blue_claro);
    border: 1px solid var(--color-white);
    border-radius: 10px;
    box-shadow: 3px 5px 5px #00000080;
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;   
    position: sticky;
    top: 100px;
}


.menu__esquerdo h2{
    font-size: 2.5rem;
    padding: 2rem 0;
    color: var(--white-secundary);
}

.menu__esquerdo img{
    width: 6rem;
    margin-left: 5.5%;
}

.menu__lista {
    margin-top: 1rem;
    text-align: center;
}

.menu__lista li{
    font-size: 1.6rem;
    line-height: 40px;
    transition: all 0.5s ease-in;
}

.menu__lista a{
    color: var(--white-secundary);    
}

.menu__lista a:hover{
    color: var(--color-blue_claro2);
    font-weight: 500;
    display: block;
}