.sticky{
    height: 159vh;
    max-width: 180px;
    position: relative;
    padding-right: 10px;
}

.menu__esquerdo{
    height: 40rem;      
    background-color: var(--color-blue);
    border-radius: 10px;
    box-shadow: 3px 5px 5px #00000080;
    display: block;
    align-items: center;    
    position: sticky;
    top: 8rem;
}


.menu__esquerdo h2{
    font-size: 2rem;
    padding: 5rem;
    color: var(--white-secundary);
    border-radius: 5px;
}

.menu__lista {
    margin-top: 3rem;
    padding-left: 5px; 
    text-align: center;
}

.menu__lista li{
    font-size: 1.6rem;
    padding: 2rem;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: all 0.5s ease-in;
}

.menu__lista li.active:hover{
    background-color: var(--color-blue2);
    
}

.menu__lista a{
    color: var(--white-secundary);
    display: block;
}

.menu__lista a:hover{
    color: var(--color-gray);
}