.btnLogin{
    font-size: 1.6rem;
    width: 182px;
    text-align: center;
    padding: 16px;
    border: 1px solid var(--color-blue_claro2);
    background-color: var(--color-blue);
    box-shadow: 3px 5px 5px #00000080;
    color: var(--color-white);
    transition: all 250ms ease-in-out;
}

.btnLogin:hover{
    border-radius: 1rem;
    border: 1px solid var(--color-white);
}


/* 
@media (max-width: 768px) {
    .login{
        width: 14rem;
    }
}

@media (max-width: 638px){
    .login{

    }
}

@media (max-width: 412px) {
    .login {
        position: absolute;
        right: 10rem;
        width: 8rem;
        height: 1rem;
        font-size: 1.3rem;
    }
}

@media (max-width: 375px) {
    .login {
        position: absolute;
        right: 10rem;
        width: 8rem;
        height: 1rem;
        font-size: 1.3rem;
    }
} */