.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
}

.header__left {
    width: 60rem;
    display: flex;
    align-items: center;
}

@media(max-width:768px) {
    .cabecalho {
        flex-direction: column;
        height: 18%;
    }

    .header__left {
        flex-direction: column;
        gap: 1.5rem;
        margin-top: 1rem;
    }
}

@media(max-width:425px ),(max-width:375px) {
    .cabecalho {
        display: block;
        height: 100vh;
        background-color: var(--color-black2);
    }

    .header__left {
        width: 100%;
        height: 35%;
        margin: 0;
        padding: 0;
        justify-content: center;
    }
}