.main__login{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.form__login{
    margin: 0;
}

@media(max-width:768px) {
    .form__login{
        margin-top: 2rem;
    }
}
