.main__login{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.form__login{
    margin: 0;
}

@media(max-width:768px) {
    .login{
        position: absolute;
        top: 1rem;
        right: 3rem;
    }
}

@media(max-width:375px) {
    .login{            
         top: 2rem;

        background-color: black;
    }
}