.banner{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(59, 59, 59, 0.7)), url(/assets/image/banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    border: 1px solid var(--color-white);
    box-shadow: 3px 5px 5px #00000080;
    height: 40rem;
}

.banner__texto{
    width: 63%;
    margin-top: 15rem;
    line-height: 10rem;
    padding-left: 2.5rem;
}

.banner__texto h2{
    font-size: 5.2rem;
    color: var(--color-white);
    font-weight: 700;
}

.banner__texto p{
    font-size: 2.2rem;
    color: var(--color-white);
}

.ver__consoles:hover{
    background-color: transparent;
    border: 1px solid var(--color-blue);
}