.desenvolvedor{
    width: 100%;
    height: 11rem;
    background-color: var(--color-black2);
}

.footer__texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.footer__texto h2, p {
    color: var(--color-gray);
    font-size: 1.5rem;
    line-height: 2rem;
}