:root {
    --color-white: #e0e0e0;
    --color-black:   #464646;
    --color-blue: #458be7;
    --color-blue_claro: #a1c7f9;
    --color-blue2: #0c63cd;
    --color-gray: #A2A2A2;
    --white-secundary: #f0f1f3;
}

.container {
    max-width: 1140px;
    height: 100%;
    margin: 0 auto;
    display: flex;   
}

html{
    font-size: 62.5%;
    font-family: 'Raleway', sans-serif;
    background-color: var(--color-blue2);
    scroll-behavior: smooth;
}

@media (max-width: 768px) {
    .container{
        margin: 0 10px;
    }
}