.conteudos__produtos {
    display: flex;
    flex-direction: column;
}

.titulo__produto {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;
}

.section__nome {
    font-size: 3rem;
    color: var(--color-white);
    text-shadow: 2px 3px 3px #00000080;
    margin-bottom: 16px;
}

.ver__tudo a {
    font-size: 1.6rem;
    color: var(--color-white);
    transition-duration: 0.3s;
}

.ver__tudo a:hover {
    color: var(--color-blue_claro2);
}

.ver__tudo a::after {
    content: '>';
    font-size: 2rem;
    margin-left: 10px;
}

.section__card {    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 1rem;
    width: 100%;
}

.card {
    background-color: var(--color-white);
    border-radius: 10px;
    border: 1px solid var(--color-black);
    box-shadow: 5px 8px 5px #00000080;   
    display: flex;     
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.card:hover {
    transform: scale(1.1);
    z-index: 10;
}

.card img {
    width: 140px;
    height: 17rem; 
    margin-bottom: 2rem;
    transition-duration: 0.5s;
}


.card__nome,
.preco {
    font-size: 1.6rem;
    color: var(--color-black);
    line-height: 2.8rem;
}

.preco,
.ver__produto {
    font-weight: 600;
}

.ver__produto {
    font-size: 1.8rem;
    padding-top: 1rem;
    color: var(--color-blue_escuro);
}