.fale__conosco {
    display: flex;
    width: 100%;
    border-radius: 10px;
    align-items: center;
    height: 36.8rem;
    margin: 5rem 0;
    background-color: var(--color-blue_escuro);
}

.fale__conosco-conteudo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6rem;
    width: 95%;
    height: 24rem;
    margin: auto;
}

.fale__conosco-conteudo .logo{
    align-self: self-start;
}

.faleConosco__links{    
    width: 20%;
    height: 100%;    
}

.faleConosco__links a{
    color: var(--white-secundary);
    font-size: 1.4rem;
    line-height: 4rem;
}

.formFaleConosco{
    width: 56rem;
    height: 100%;
    position: relative; 
}

.fieldset__conteudo{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form__legenda {    
    font-size: 1.6rem;
    color: var(--white-secundary);
}

.input__conteudo{    
    margin-top: 10px;
    position: relative;
    background-color: rgb(73, 73, 73);
}

.input__nome {
    width: 93.5%;
    height: 4rem;
    border: none;
    font-size: 1.6rem;
    padding:12px 15px 0;
    outline: none;
    transition-duration: 0.5s;
}

.label-on{
    display: none;
}

.label__nome{    
    position: absolute;
    font-size: 1.2rem;
    left: 5px;
    top: 5px;
}

.textArea__Mensagem{
    border: none;
    font-size: 1.6rem;
    margin-top: 1.6rem;
    height: 7rem;
    padding: 10px;
    outline: none;
    resize: none;
}

input[type=submit]{
    border: none;
    margin-top: 10px;
    color: var(--color-white);
    cursor: pointer;
    background-color: var(--color-blue2);
    font-size: 1.6rem;
    padding: 13px;
    transition-duration: 0.5s;    
}

input[type=submit]:hover{
    opacity: 0.7;
}