.fale__conosco {
    background-color: var(--color-black2);
    border-radius: 10px;
    box-shadow: 5px 8px 5px #00000080;
    display: flex;
    align-items: center;
    width: 100%;
    height: 36.8rem;
    margin: 5rem 0;
}

.fale__conosco-conteudo {
    width: 100%;
    height: 25rem;
    display: flex;
    justify-content: space-around;
}

.fale__conosco-conteudo .logo {
    align-self: self-start;
}

.faleConosco__links {
    width: 18%;
    height: 100%;
}

.faleConosco__links a {
    color: var(--white-secundary);
    font-size: 1.4rem;
    line-height: 4rem;
    transition: all 0.3s;
}

.faleConosco__links a:hover {
    color: var(--color-gray);
}

.area__contato {
    width: 450px;
}

.fieldset__contanto {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.form__legenda {
    font-size: 1.6rem;
    margin-bottom: 10px;
    color: var(--white-secundary);
}

.input__nome {
    border: none;
    border-radius: 5px;
    height: 4rem;
    font-size: 1.6rem;
    font-weight: 500;
    outline: none;
    padding-left: 10px;
}


.textArea__Mensagem {
    border: none;
    border-radius: 5px;
    font-size: 1.6rem;
    margin-top: 1.6rem;
    height: 7rem;
    padding: 10px;
    outline: none;
    resize: none;
}

input[type=submit] {
    background-color: var(--color-blue2);
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    color: var(--color-white);
    cursor: pointer;
    font-size: 1.6rem;
    padding: 13px;
    transition-duration: 0.3s;
}

input[type=submit]:hover {
    background-color: var(--color-white);
    color: var(--color-black);
}

@media (max-width: 1085px) {
    .area__contato {
        width: 50%;
    }

    .fale__conosco-conteudo {
        height: auto;
    }

    .faleConosco__links {
        width: auto;
    }
}

@media (max-width:425px ),(max-width:375px) {
    .fale__conosco {
        height: auto;
        padding: 2rem 0 2rem 0;
    }

    .fale__conosco-conteudo {
        flex-direction: column;
        align-items: center;
    }

    .faleConosco__links{
        width: 100%;
        text-align: center;
    }

    .area__contato {
        width: 100%;        
    }

    .fieldset__contanto {
        padding: 0 2rem;
    }
}