.fale__conosco {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 36.8rem;
    border-radius: 10px;
    margin: 5rem 0;
    background-color: var(--color-blue_escuro);
}

.fale__conosco-conteudo{
    width: 100%;
    height: 250px;
    display: flex;
    column-gap: 50px;
    padding: 15px;
}

.fale__conosco-conteudo .logo{
    align-self: self-start;
}

.faleConosco__links{    
    width: 20%;
    height: 100%;  
}

.faleConosco__links a{
    color: var(--white-secundary);
    font-size: 1.4rem;
    line-height: 4rem;
    transition: all 0.3s;
}

.faleConosco__links a:hover{
    color: var(--color-gray);
}

.area__contato{
    width: 560px;
}

.fieldset__contanto{
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.form__legenda {    
    font-size: 1.6rem;
    margin-bottom: 10px;
    color: var(--white-secundary);
}

.input__nome {
    height: 4rem;
    border: none;
    font-size: 1.6rem;
    outline: none;
}


.textArea__Mensagem{
    border: none;
    font-size: 1.6rem;
    margin-top: 1.6rem;
    height: 7rem;
    padding: 10px;
    outline: none;
    resize: none;
}

input[type=submit]{
    border: none;
    margin-top: 10px;
    color: var(--color-white);
    cursor: pointer;
    background-color: var(--color-blue2);
    font-size: 1.6rem;
    padding: 13px;
    transition-duration: 0.5s;    
}

input[type=submit]:hover{
    opacity: 0.7;
}